---
import Logo from "../images/logo2.svg";

import { readItems } from "@directus/sdk";
import { getDirectusClient } from "../utils/get-directus-client.js";

const directus = await getDirectusClient();
const volumes = await directus.request(
  readItems("Volumes", {
    fields: ["title", "number", "published_at", "slug", "publisher", "cover"],
    sort: ["-id"],
    limit: 1,
    filter: {
      site_id: {
        _eq: "2",
      },
    },
  }),
);
const { slug, publisher, title, coordinators, number, published_at } =
  volumes[0];

var str = new Date(published_at).toLocaleString("fr-FR", {
        year: "numeric",
        month: "long",
      })
---

<!-- href={`/volumes/${volume.slug}`} -->

<div class="flex sm:inline-block w-fit sm:w-72">
  <a href={`/volumes/${slug}`}>
    <div class="w-fit relative hover:brightness-110">
      <img
        class="hidden lg:block"
        height="auto"
        width="250"
        src={Logo.src}
        alt="Logo Jus Politicum"
      />
      <div
        class="text-2xl sm:text-4xl font-semibold absolute right-2 -top-2 rounded-full border-2 border-slate-50 pt-0.5 sm:pb-3 pb-2 px-3 numero-overlay"
      >
        {number}
      </div>
    </div>
  </a>

  <div class="mt-3 sm:ml-0 ml-4 max-sm:w-3/4 max-sm:text-end">
    <h4>Dernier numéro paru :</h4>
    <div>Numéro {number}</div>
    <div class="pb-4">{
      str.charAt(0).toUpperCase() + str.slice(1)
      }
    </div>

    <div class="accent1"><a href={`/volumes/${slug}`}> {title}</a></div>
    <!-- <div>Éditeur : {publisher}</div> -->
    


    <div>
      {coordinators}
    </div>
  </div>
</div>

<style>
  .numero-overlay {
    @apply text-accent bg-secondary;
  }
</style>
