---
const { volume } = Astro.props;
import { getImagePath } from "../utils/get-directus-client.js";
---

<div>
  <h2>{volume.title}</h2>
  <div class="flex flex-col lg:flex-row">
    <img
      src={getImagePath(volume.cover)}
      alt=""
      class="lg:float-left float-none lg:m-2 m-auto h-fit w-64"
    />
    <div class="information_list">
      <span set:html={volume.subtitle} />
      <span>Éditeur : {volume.publisher}</span>
      <span>Date de publication : {volume.released_on}</span>
      <span>Prix : {volume.price} €</span>
      <a href={volume.link} class="mt-2 btn btn-primary">Acheter</a>
    </div>
  </div>
  <div set:html={volume.abstract} class="my-16 text-justify" />
  <h2 class="page_title">Sommaire</h2>
  <div set:html={volume.table_of_content} />
</div>

<style is:global>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .information_list {
    @apply text-lg lg:ml-4 flex flex-col;
  }
  .information_list span {
    @apply my-2;
  }
  .information_list img {
    @apply my-2;
  }
  li {
    @apply my-2 flex flex-row;
  }
</style>
